PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('CqibTqIMrCKQKSpqRNeErwuBuNADgZELiErZQ1gL',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0','YTozOntzOjY6Il90b2tlbiI7czo0MDoia1g0VE1rbW9wSElzbEszTVFjSW9US0N4SjVVUVZrNXZvMFBPcU9NbCI7czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6MjE6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMCI7fXM6NjoiX2ZsYXNoIjthOjI6e3M6Mzoib2xkIjthOjA6e31zOjM6Im5ldyI7YTowOnt9fX0=',1752480154);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "reponses" ("id" integer primary key autoincrement not null, "valeur" varchar, "choice_id" integer, "question_id" integer not null, "soumission_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("choice_id") references "choices"("id"), foreign key("question_id") references "questions"("id") on delete cascade, foreign key("soumission_id") references "soumissions"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "defauts" ("id" integer primary key autoincrement not null, "question_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("question_id") references "questions"("id"));
CREATE TABLE IF NOT EXISTS "evaluations" ("id" integer primary key autoincrement not null, "titre" varchar not null, "description" varchar not null, "date_expiration" date, "cour_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("cour_id") references "cours"("id"));
CREATE TABLE IF NOT EXISTS "types" ("id" integer primary key autoincrement not null, "nom" varchar not null, "created_at" datetime, "updated_at" datetime);
INSERT INTO types VALUES(1,'normal','2025-07-12 07:53:36','2025-07-12 07:53:36');
INSERT INTO types VALUES(2,'checkbox','2025-07-12 07:53:36','2025-07-12 07:53:36');
CREATE TABLE IF NOT EXISTS "questions" ("id" integer primary key autoincrement not null, "intitule" varchar not null, "categorie" varchar, "index_in_categorie" integer not null default '0', "obligatoire" tinyint(1) not null default '0', "type_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("type_id") references "types"("id"));
CREATE TABLE IF NOT EXISTS "choices" ("id" integer primary key autoincrement not null, "valeur" text not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "choice_question" ("id" integer primary key autoincrement not null, "choice_id" integer not null, "question_id" integer not null, "position" integer not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("choice_id") references "choices"("id") on delete cascade, foreign key("question_id") references "questions"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "evaluation_question" ("id" integer primary key autoincrement not null, "evaluation_id" integer not null, "question_id" integer not null, "position" integer not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("evaluation_id") references "evaluations"("id") on delete cascade, foreign key("question_id") references "questions"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "soumissions" ("id" integer primary key autoincrement not null, "etudiant_id" integer not null, "ecue_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("etudiant_id") references "etudiants"("id"), foreign key("ecue_id") references "ecues"("id"));
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',12);
INSERT INTO sqlite_sequence VALUES('types',2);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
COMMIT;
